<style type="text/css">
.btn {
	width: 49.2%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

.input-container {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	width: 100%;
	margin-bottom: 15px;
	border-radius: 10px;
}

.icon {
	padding: 10px;
	background: dodgerblue;
	color: white;
	min-width: 50px;
	text-align: center;
}

.input-field {
	width: 100%;
	padding: 10px;
	outline: none;
}

.input-field:focus {
	border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
/* .btn {
	background-color: dodgerblue;
	color: white;
	padding: 15px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
} */

.btn:hover {
	opacity: 1;
}
.applyImage {
	/* background-image: url('images/resumebuilder11.png');
	background-repeat: repeat-x;
	height: 5%; */
}
body{
/* background-image: url('../images/im1.png'); */
background-color:red;
background-size: 100%;
}
label { 
	display: block; width: 100px;
 }