body {
	background-image:url("life5.png");
	background-repeat: no-repeat;
	background-position:bottom;
	background-size: 100%;
}
td{
	font-size: large;
	font-family:fantasy;
	color: teal;
}
table{
	background-color:rgba(255,255,255,0.5);
}
h1{
	background-color: white;
	text-align: center;
}
h2{
	background-color: teal;
	text-align: center;
}