@CHARSET "ISO-8859-1";
body{
		background-image: url("../images/edit.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 110%;
	
}
.background{
	background-color:rgba(128,128,128,0.9);
}
span{
	color:red;
	
	font-weight: bold;
}
h1{
	text-align:center;
	margin-left:-100px;
	
}
span{
color:red;
}

td{
	padding:5px 30px 5px 20px;
	font-size:large;
	color:white;
	
}
.clear {
    clear: both;
}
.button{
    height: 30px;
    font-weight: 900;
    font-size: 1em;
    color: #4d4d4d;
    background: 0 to(#e6e6e6));
    cursor: pointer;
    border-top: 1px solid #f4f4f4;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 3px solid #904799;
    border-radius: 4px;
    padding: 0 18px;
    
   
}