@CHARSET "ISO-8859-1";
body{
		background-image: url("../images/ViewProfile.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
	
}
.background{
	background-color:rgba(128,128,128,128);
}
h1{
	text-align:center;
	margin-left:-100px;
	
}

td{
	padding:2.5px 30px 2.5px 20px;
	font-size:large;
	color:white;
	
}
.clear {
    clear: both;
}
.button{
    height: 30px;
    font-weight: 900;
    font-size: 1em;
    color: #4d4d4d;
    background: 0 to(#e6e6e6));
    cursor: pointer;
    border-top: 1px solid #f4f4f4;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 3px solid #904799;
    border-radius: 4px;
    padding: 0 18px;
    
   
}