@CHARSET "ISO-8859-1";
/*
/* Author::  
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */
#playground-container {
	height: 500px;
	overflow: hidden !important;
	-webkit-overflow-scrolling: touch;
}

body, html {
	background: url('../images/registration.jpg'); height :auto;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	/* 	background:url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg); */
	font-family: 'Oxygen', sans-serif;
	height: 100%;
}


button {
	opacity: 0.8;
}

.clientsb {
	background-color: green;
	width: 30%;
	height: 40px;
	font-size: 15px;
	font-weight: bold;
	margin-left: 35%;
	border-radius: 10px;
}
.agentsb {
	background-color: green;
	width: 30%;
	height: 40px;
	font-size: 15px;
	font-weight: bold;
	margin-left: 35%;
	border-radius: 10px;
}

button:hover {
	opacity: 1;
}

.main {
	margin: 50px 15px;
}

.title {
	margin-left:20%;
	font-size: 50px;
	font-family: 'Passion One', cursive;
	font-weight:bold;
	color:black;
}

hr {
	width: 10%;
	color: #fff;
}

.form-group {
	margin-bottom: 15px;
}

label {
	margin-bottom: 15px;
	
}

input, input:-webkit-input-placeholder {
	font-size: 20px;
	font-weight:bold;
	padding-top: 3px;
}

.main-login {
	background-color: #fff;
	/* shadows and rounded borders */
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-control {
	height: auto !important;
	padding: 8px 12px !important;
}

.input-group {
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
}

.main-center {
	border:none;
	margin-top: 30px;
	margin: 0 auto;
	max-width: 600px;
	padding: 10px 40px;
	background: transparent;
	color: #FFF;
	text-shadow: none;
	webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31); 
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
}

span.input-group-addon i {
	color: #009edf;
	font-size: 17px;
}

.login-button {
	margin-top: 5px;
}

.login-register {
	font-size: 11px;
	text-align: center;
}